[2015-10-12 00:41] connors opened #3 "Popovers"
It'd be nice to have a nice css and js component for popovers like:

<img width="437" alt="screen shot 2015-10-11 at 5 37 57 pm" src="https://cloud.githubusercontent.com/assets/874145/10420115/4a4eb78c-703f-11e5-805f-7eddefcf54da.png">

[2015-10-12 00:43] connors opened #4 "Tabs should switch out content"
Tabs should actually work and switch out content.
<img width="465" alt="screen shot 2015-10-11 at 5 43 10 pm" src="https://cloud.githubusercontent.com/assets/874145/10420121/9768f208-703f-11e5-9c78-ad2c07a4d5b9.png">

[2015-10-12 00:46] connors opened #5 "Button groups should stay active when clicked"
Right now there is no javascript to power the button groups. Maybe we just you bootstrap's js? We're not adding anything new here after all in terms of the interaction...

<img width="253" alt="screen shot 2015-10-11 at 5 44 10 pm" src="https://cloud.githubusercontent.com/assets/874145/10420129/de6c0c94-703f-11e5-8119-cfebbbe99f6b.png">

[2015-10-12 00:47] connors opened #6 "Neutral theme"
OS X is cool and all but it should be a theme on top of the neutral base layer. Electron is cross platform, so should we.

[2015-10-12 00:48] connors opened #7 "Windows theme"
Photon should be great on Windows too.

[2015-10-12 00:49] connors opened #8 "Modal component"
There should be a simple modal component. This would be used in the current window instead of popping a new window.

[2015-10-13 20:12] burakcan commented on #5
I think photon should stay in it's current manner since this approach (leaving functionality to developer) is more usable in different architectures and libraries (react, angular etc...).

[2015-10-13 20:27] SteveEdson opened #9 "Error building"
First of all, this looks awesome. Cannot wait to use it.

I've followed the example, but I'm getting an error:

[code]

Along with an electron pop up saying:

I realise it might just be because I haven't set anything up yet, I just presumed a basic boilerplate would work from the start.

[2015-10-13 21:04] ggamel commented on #9
This has been my experience as well. See below:

[code]

Ditto on the dialog box.

[2015-10-13 21:12] ggamel commented on #9
Submitted PR that fixes the Photon build issue. See: #11.

In the meantime, you can just adjust that on your own cloned repo and it should work/build, @SteveEdson. :+1:

[2015-10-13 22:03] developit commented on #6
Great idea, I just hope a platform agnostic theme could look as good as this currently looks. Amazing work.

[2015-10-13 22:11] connors commented on #6
@developit Thanks dude! Definitely not planning on making the neutral theme crappy :smile:.

[2015-10-13 23:29] connors commented on #9
:+1: Fixed in #11.

[2015-10-13 23:29] #9 closed

[2015-10-13 23:35] ggamel opened #12 "Implement native OS X window handling for close/quit"
Is there interest in implementing native OS X window handling for close/quit? If so, a personal project of mine has this functionality working 100% and it's 👌🏻👌🏻👌🏻. Improves the app experience (for me at least) by making the app feel far more native.

Pressing Cmd+Q and Cmd+W under OS X are common actions taken by OS X users:

* Pressing `Cmd+W` results in the active app window being closed/hidden

[2015-10-14 00:41] L3V147H4N opened #13 "Menu Bar Component"
I think a very common component in Desktop applications is Menu Bars and frankly, the one that Electron provides is kinda ugly.

I've been using angular-material lately and something like this would be nice, but much more compact. What I like most of photon is that is very compact in comparison to other css libraries/frameworks

Angular Material menu bar
[MenuBar](https://material.angularjs.org/la

[2015-10-14 00:47] L3V147H4N opened #14 "Form Inputs with inset icons"
This is purely a aesthetic feature but it's pretty neat nonetheless and it also helps to save some space and create a better feeling to the UX

[Bootstrap Forms](http://getbootstrap.com/css/#forms)

Another example

![osx search](https://cloud.githubusercontent.com/assets/5846479/10472165/f49afc22-71f3-11e5-87fd-f0d13d2eb89c.png)

[2015-10-14 01:24] knownasilya commented on #12
Sounds like a nice UX addition.

[2015-10-14 01:38] gosukiwi commented on #12
Sounds quite nice. Afterall the project seems very OS X oriented.

[2015-10-14 06:50] benschwarz commented on #5
If you can use / include bootstraps' js, then at least the interaction is covered (and outlines the process of interactions for someone to implement in react / angular / vanilla / horse.js etc etc)

[2015-10-14 09:26] lucasmotta commented on #13
Usually the menu bar on OSX at least uses the system's default. Not sure if adding another type of menu bar would bring more confusion?

[2015-10-14 09:43] philipamour opened #16 "Copy: 'AirPlay' should be 'AirDrop'"
If I understand correctly, the demo web app is supposed to represent a file browser - Finder in particular. One of the sidebar items is 'AirPlay' which is Apple's streaming protocol. Location of 'AirPlay' is nonsensical as when you use a file browser, you usually browse directories and locate files rather than... play music/stream videos to network devices. ¯\_(ツ)_/¯

I recommend the 'AirPlay' is

[2015-10-14 09:55] L3V147H4N commented on #13
But Photon is meant to be Cross Platform, and other operating systems do not have OSX-Like Menus

[2015-10-14 10:37] SteveEdson commented on #9
Awesome, thanks.

[2015-10-14 11:23] brunowego commented on #14
Cool :+1:

[2015-10-14 12:42] pilot commented on #12
:+1:

[2015-10-14 14:09] malantonio opened #17 "Docs: thoughts on adding titles to icons?"
Just wondering if there'd be interest in adding `title` attributes to the icon examples in the docs? I'm finding the current layout makes locating the right class name a bit tricky.

Something like:

[code]

for

![screen shot 2015-10-14 at 10 08 29 am](https://cloud.githubusercontent.com/assets/2744987/10486146/9754cd0a-725b-11e5-8488-d4130e184dac.png)

I'd be happy to submit a PR!

[2015-10-14 15:12] iamphill opened #18 "Table headers active"
When you click on the `thead` cell, instead of just highlighting the clicked cell, it highlights the whole row

[2015-10-14 15:25] mszynka commented on #18
Are you using 'thead' for column or row header? If for row header it's intentional and intuitive to have highlighted whole row with content.

[2015-10-14 15:39] iamphill commented on #18
So the [demo app](http://photonkit.com/demo-app.html) looks to represent a file browser like finder on mac and when clicking on the cell in the header it makes the whole row active (fine for the body). But for the header it should only highlight the cell.

Doing it this way would resemble how finder (and I'm sure explorer) does it - by only highlight the selected header cell, not the row.

Does th

[2015-10-14 16:16] #16 closed

[2015-10-14 16:55] visualfanatic commented on #18
Noticed the same thing, full support.

[2015-10-14 18:32] parro-it opened #22 "toolbar-header is not draggable by default"
When using a frameless-window, only
toolbar-footer is draggable, I think we have to add

[code]

By the way, photon is really awesome!

[2015-10-14 18:50] mszynka commented on #18
@iamphill yes it does. It should highlight whole column. That's a legit issue. +1

[2015-10-14 19:18] IonicaBizau opened #23 "Just want to say thanks"
@connors Actually, I was wanting to build something like this but it's amazing to see it already done by you!  :smile: :tada:  :clap:

[2015-10-15 05:33] bhaveshgohel commented on #23
:+1:

[2015-10-15 07:39] iamphill commented on #18
Looks like this was fixed by f6552970cd9d68548deb427e43df8d0d816fe8f1

[2015-10-15 07:39] #18 closed

[2015-10-15 08:21] luin opened #25 "fixed-width tabs"
Thank you for the photon! I've spent several hours to implement my own tab styles until I find this awesome library.

Would you like to add a fixed-width `tab-item` which can be found in many native apps (e.g. Terminal & Xcode):

![image](https://cloud.githubusercontent.com/assets/635902/10508152/cd4df560-7357-11e5-89bf-1b9620785856.png)
![image](https://cloud.githubusercontent.com/assets/635902/1

[2015-10-15 09:26] horaceho commented on #23
:+1:

[2015-10-15 09:56] edwinyzh opened #26 "It seems that close buttons on the right for tabs is a more common practice?"
First, really great UI components! I have always wanted a CSS UI framework designed for desktop apps.

I think you should add an option for placing the close buttons on the right side of the tabs, and by default it should be like that.

Just my 2 cents.

[2015-10-15 10:58] kevyu commented on #23
:+1:

[2015-10-15 15:19] aloisdeniel commented on #6
Maybe light and dark themes to go a little bit further ? :)

[2015-10-15 15:27] developit commented on #6
Perhaps - I was curious whether @connors wanted to make additional themes for each major platform, or a "vanilla" theme to address non-OSX platforms in one go.  (the latter seems easier)

[2015-10-15 15:29] developit commented on #26
@edwinyzh The default theme is geared towards OS X, which always places close buttons on the left side of any UI control. Since it sounds like you're looking to use this on a different platform, you're likely to get more info from Issue #6.

[2015-10-15 15:34] TheJaredWilcurt opened #28 "Official NW.js support"
Hey, I'm the creator of [UGUI](http://ugui.io) a framework for NW.js. I just tested your project and with a one line change it works fine in NW.js.

Do you have plans to officially support NW.js, or be willing to accept pull requests regarding it. It would take very little effort to set this project up proper for NW.js. And maintenance would require a small amount of changes to your current automa

[2015-10-15 15:37] developit commented on #25
Something like this?
http://jsfiddle.net/developit/tkx4r52s/

[2015-10-15 15:43] luin commented on #25
Exactly. Just wonder whether it should be a built-in style though it's trivial to implement it.

[2015-10-15 18:34] connors commented on #23
:heart: :heart: :heart:

[2015-10-15 18:34] #23 closed

[2015-10-15 18:37] pbernasconi commented on #12
:+1:

[2015-10-15 18:37] IonicaBizau commented on #23
@connors Is this used in GitHub for Desktop, btw? Looks like OS X. :smile:

[2015-10-15 20:02] ggamel commented on #12
Submitted PR #29 to implement native OS X window handling.

[2015-10-15 23:54] developit commented on #28
I think you may have been reading the comparison table incorrectly, as it seems to point to Electron as the better option.  Both projects are great, however one would be remiss to overlook the multi-process support built into Electron that is (last I checked) missing from NW.js.

[2015-10-16 00:28] developit commented on #14
Here's my suggestion:
http://jsfiddle.net/developit/aqu10kd9/
![preview](https://i.gyazo.com/ff70bbf75b7f95d19e8546eb18364068.gif)

### Markup

[code]

### CSS

[code]

[2015-10-16 01:05] developit commented on #8
@connors How about just styling the already-available HTML5 `<dialog>` element?  That way the project can stay CSS-only - `<dialog>` already provides JS methods for `.showModal()` and `.close()`, and supports backdrop styling and keyboard shortcuts.

Here's a working demo (I keep doing this):
http://jsfiddle.net/developit/ymx5qev6/
![preview](https://i.gyazo.com/439c774c5d47da7fa8cdf0ef00ddf1dc.gi

[2015-10-16 11:00] cwhite92 commented on #17
I have overwhelming support for this idea :+1:

[2015-10-16 12:27] paranoid-android opened #35 "Getting Started"
Hello,

PhotonKit looks great. However, it is unclear how to actually start an app. I followed the "Getting "Started" information. I downloaded the "Precompiled Photon" I can see the css, fonts, and template-app directories. However, I can't figure out what to do now. How do I run the thing?

[2015-10-16 13:27] developit commented on #35
`npm install` to install everything, then run `npm start` to run Electron using `template-app`.

[2015-10-16 13:58] TheJaredWilcurt commented on #28
To make it easier to understand, I've updated the chart, corrected some items and color coated it to show what I mean:

<p align="center"><img src="http://i.imgur.com/bSUXkb8.png"></p>

I removed stuff that was equal, and fixed the file size part and other minor details to make things cleaner.

And "multi-process support" is kinda vague. But in some senses, yes you can. In the sense of multi-proce

[2015-10-16 14:11] jprichardson commented on #28
Objectively, you couldn't say either as 'better' is a subjective term. But I digress.

1. Electron now supports Node v4. I'm not at all familiar with NW.js, is it still using io.js?
2. Why is Chromium better than libchromium?
3. Isn't there some JavaScript context issue that a dev needs to worry about when using NW.js?

Thanks for helping to fill in the gaps of my misunderstanding.

[2015-10-16 14:15] developit commented on #28
@TheJaredWilcurt You seem quite invested in NW.js, so let's not throw around words like "objective". My point was relating to NW.js re-using the same event loop for both web and Node content, which was the case when heard about it at JSConf in 2012.  Your comparison table is lovely, but there are more differences between the two projects than you can attempt to objectively categorize and present i

[2015-10-16 14:32] paranoid-android commented on #35
@developit Thank you so much for your help. This cleared it right up for me.

[2015-10-16 14:32] #35 closed

[2015-10-16 14:38] zsup opened #36 "Project name confusion"
Hey @connors,

This project looks awesome and super useful - we've built an application with Electron and I can see how helpful this framework will be. That said, I'm wondering if I could convince you to change the name.

Backstory - I run a company called Particle; we make open source hardware development kits for IoT (used to be called Spark). Our latest development kit is called the Photon, and

[2015-10-16 14:41] zsup commented on #36
Ah, well, since I originally wrote this, you guys have climbed the Google ranks; good on you :-) Regardless, I hope you'll be understanding of my request.

[2015-10-16 14:48] developit commented on #36
Suggestion: `positron`

[2015-10-16 16:54] mateusdemboski opened #37 "Bower"
Hi! could be added in the project a bower.json to facilitate the maintenance of "front-end" dependencies. =)

tks,

[2015-10-16 20:02] developit commented on #37
People still use Bower?

[2015-10-16 20:15] a3bhea commented on #37
"People still use Bower?" ... what? what should i use then??? this is a SINGLE css file with a font, please tell me what should i use? should i decompile it to C++ and rewrite it to PHP just to compile it after that to CoffeeScript which will result in Javascript and "reverse engineer" it back to CSS? This is the single most valuable project that should be in bower after bootstrap right now. I gue

[2015-10-16 20:32] developit commented on #37
I was going to suggest NPM since it's already available there, no need to take offence.

[2015-10-16 20:56] schnti commented on #37
+1

[2015-10-16 22:33] louy opened #39 "Shouldn't be able to highlight two items in list-group"
Hi,

If you look at native UI components in OSX, you can't highlight two list items at the same time. The experience feels really weird when I have a selected item and I click on another one and both get highlighted.

I see two solutions here:

1. Don't highlight on `.list-group-item:active` (Finder.app behaves like this in sidebar)
2. Remove highlight on `.list-group:active .list-group-item.selec

[2015-10-16 22:39] connors commented on #26
Thanks@edwinyzh. Like @developit mentioned, this is the default behavior of the OS X platform. If you run an Electron app on Windows, the close button will be on the right. Photon doesn't place those controls.

[2015-10-16 22:39] #26 closed

[2015-10-16 22:41] connors commented on #39
Good catch. I actually see a few things wrong with my code here. I'll take a look this weekend.

[2015-10-16 22:44] louy commented on #39
:+1: I solved it like this for now.

![screen shot 2015-10-17 at 01 43 12](https://cloud.githubusercontent.com/assets/349850/10554898/795053ee-7470-11e5-85f5-d51d53c04699.png)

[2015-10-16 22:44] sbruchmann commented on #37
@developit FYI, you can already install Photon via npm by using its repository url:

[code]

[2015-10-16 22:46] connors commented on #36
Yeah names are hard. Obviously, you see why we went with Photon and how it relates to Electron. Considering your company name is Particle and not Photon, I'm personally not to worried about the confusion. I'd be willing to reconsider if it becomes a bigger issue.

[2015-10-16 22:46] #36 closed

[2015-10-16 22:48] connors commented on #28
Yeah we're pretty sold on Electron over here at GitHub :grimacing:... and I'm not really interested in officially supporting NW.js.

[2015-10-16 22:48] #28 closed

[2015-10-16 22:53] connors commented on #13
@L3V147H4N The intent with Photon is to use as much of the native components as possible. By using the default menu behaviors for each platform, you get tons of stuff for free. Things like keyboard shortcuts are included by default without having to re-implement them in css and js.

I agree that we need to improve the menus... I'd rather keep them native.

[2015-10-16 22:53] #13 closed

[2015-10-16 22:54] connors commented on #14
Rad!

[2015-10-16 22:56] connors commented on #12
Isn't this behavior already there? All the keyboard commands you listed already work for me when I launch the template app.

[2015-10-16 22:58] connors commented on #6
Eventually I want a very solid OS X and Windows theme. The neutral theme idea would be to have a "vanilla" theme that can work anywhere if that's what someone is into.

[2015-10-16 22:58] ggamel commented on #12
Not in Electron core. There are a few issues in the GH issues for it, but not out of the box.

[2015-10-16 23:00] connors commented on #12
@ggamel I'm curious, which version of OS X are you running?

[2015-10-16 23:02] ggamel commented on #12
@connors: OS X 10.11. No betas.

[2015-10-16 23:04] connors commented on #22
I actually wanted to just add this the the base `.toolbar` class. The problem is that there are tons of conflicts with the default system behavior for dragging when you aren't using a frameless window. So fixing the frameless window breaks non-frameless windows.

Not sure how to fix it up so everything always plays nicely.

[2015-10-16 23:06] ggamel commented on #12
@connors Also see: https://github.com/sindresorhus/caprine/issues/6

This is something that others have been wanting, but is apparently not included in Electron by default. My implementation has been working as expected. :smile:

[2015-10-16 23:11] connors commented on #12
@ggamel Weird. I'm confused because when I run `npm start`, I can do all the behaviors you've listed.

[This line](https://github.com/connors/photon/blob/master/dist/template-app/app.js#L9) in `app.js` makes sure that the default OS X behavior is respected.

[2015-10-16 23:17] ggamel commented on #12
@connors Crazy! I'll try again with a fresh copy of photon to see if it's in-line with your experience. Otherwise, I'll make a screencast to show you!

[2015-10-16 23:52] ggamel commented on #12
Okay, @connors: I received the exact same window behavior from a vanilla clone.

See:
![electron-osx10 11-photonwindow](https://cloud.githubusercontent.com/assets/34730/10555577/d2823a02-7436-11e5-94d8-a27481db3c66.gif)

Any ideas on what the issue could be?

[2015-10-17 00:00] ggamel commented on #12
@connors I just realized I never listed clicking the dock icon and showing the app window in my original issue post.

Are you able to click the dock icon to active the Photon app window?

[2015-10-17 00:21] developit commented on #37
@sbruchmann indeed. It's a pity the `photon` name is already taken in NPM though :(

[2015-10-17 00:35] paranoid-android opened #40 "Component - Collapsable Table Rows"
In the "Finder" app in Mac OS, users can expand and collapse rows when viewing directories. This would be a very valuable addition to Photon.

[2015-10-17 00:38] paranoid-android opened #41 "Component - Split Buttons"
In the "App Store" app in Mac OS, users can choose to "Download" or "Get" an app. Alternatively, a user can click the "v" button beside the word "Download" and "Get" to see more options. Options like: "Copy Link", "Tell a Friend", and "Share on Twitter".

It would be really nice if Photon supported split buttons.

[2015-10-17 22:07] connors commented on #39
Fixed in https://github.com/connors/photon/commit/d017253d415919b4cc8adea3c786c1036f90c0c7.

[2015-10-17 22:07] #39 closed

[2015-10-17 22:19] louy commented on #39
:+1:
I did something similar in my new app [Lawha](https://github.com/louy/Lawha).
I had to rely on javascript because `:hover` doesn't work with `mousedown`.

Thanks for this awesome project btw 😊

[2015-10-17 22:31] connors commented on #39
👍

[2015-10-17 22:50] knownasilya commented on #37
What about namespaced? `npm i @connors/photon`

[2015-10-17 22:56] developit commented on #37
@knownasilya yeah, that'd work (as long as nobody is trying to install with npm older than 2.x).

[2015-10-17 22:57] knownasilya commented on #37
In that case, it might be worth mentioning the version of npm required.

[2015-10-17 22:58] knownasilya commented on #37
Or it could be published as `photonkit`.

[2015-10-17 22:59] developit commented on #37
^ nice, that would actually address #36, too ;)

[2015-10-18 01:09] developit commented on #22
@connors Just had a thought on this - what about tagging some element higher up the tree with a generic "make draggable things draggable" class?  Something like:

[code]

[2015-10-18 06:24] luin opened #42 "Component - alert & confirm dialog"
In OS X, the modal dialog shows below the title bar:
![image](https://cloud.githubusercontent.com/assets/635902/10562849/3db2187a-75a3-11e5-8251-16565f705a77.png)
![image](https://cloud.githubusercontent.com/assets/635902/10562854/62596c8c-75a3-11e5-8bc3-0d65d95fe6fe.png)

Electron does a good job that shows alert and confirm dialog (by invoke `alert()` and `confirm()`) following the native style.

[2015-10-18 10:05] parro-it commented on #22
Or otherwise, just add a `draggable` class:

[code]

[2015-10-18 13:04] tjisousa commented on #41
I'm interested in adding this feature, but I've a question: How should they look like? Same as in App Store?

[2015-10-18 16:18] paranoid-android commented on #41
Cool.

I really like what's been built so far. I like the fact that Photon has an opinion and is trying to remain consistent with Mac OS X. With that in mind, I went through all of the baked-in apps and the system preferences. Unfortunately, I did not find a pure split button anywhere.

For that reason, I'm going to share an opinion on what I think it should look like while still trying to be cons

[2015-10-18 22:10] connors commented on #22
@developit @parro-it I like that solution. I'll create a `.draggable` utility class so that you can add it as needed.

[2015-10-18 22:37] developit commented on #22
Great, thanks, I'll add `<Toolbar draggable />` to [preact-photon](https://github.com/developit/preact-photon).

[2015-10-18 22:58] connors commented on #22
Fixed in 3da1898b170cc28222fb0117cc31a8e39c9b8b3f

[2015-10-18 22:58] #22 closed

[2015-10-18 23:33] developit commented on #42
@luin This could totally work with the HTML5 `<dialog>` element proposal I made in #8 / #34.

Here's a working JSFiddle with the small customization needed:  [jsfiddle.net/developit/636kfvv5](http://jsfiddle.net/developit/636kfvv5/)

**Preview:**

![preview](https://i.gyazo.com/516f7cf6a2cfa81fb5150958abebb559.gif)

[2015-10-19 02:33] paulcbetts opened #43 "`dist` includes files you don't need"
In Electron, there's no reason to minify files since you're shipping them in-box, or to include a bunch of different web-compatible fonts since you know you're operating against Chrome 45, you can strip these

[2015-10-19 02:41] developit opened #44 "button-group: no border-radius when containing only one button"
Placing a single `<button>` into a `button-group` causes it to render without any border-radius.  Seems like this just needs some `button:first-child:last-child{}` special casing.

[2015-10-19 03:05] neodon commented on #37
I accidentally installed the other photon package with npm and was really confused at first.  Figured out how to add this one with the git url though.  Publishing it on npm (and possibly bower), even under a slightly different name, would be cool. :)

[2015-10-19 03:12] neodon commented on #4
Does this seem useful?  It's done with pure CSS, but requires radio input controls.

http://codepen.io/wallaceerick/pen/ojtal

Or do you think a more intuitive structure with js for switching is better?

[2015-10-19 17:53] KevinMartin commented on #44
Or change:

[code]

to:

[code]

Also has the added benefit of being 2 selectors, not 3.

Pen with updated code: http://codepen.io/KevinMartin/pen/KdZPLJ

[2015-10-19 17:54] KevinMartin commented on #44
Ill make a PR now

[2015-10-19 18:15] developit commented on #44
Ah good call.

[2015-10-19 19:13] #17 closed

[2015-10-20 19:20] developit commented on #41
You could just use a button-group with two buttons.  For the small button, you'd need to knock the horizontal padding down from the default of `8px`:

[code]

<img width="86" alt="preview" src="https://cloud.githubusercontent.com/assets/105127/10618439/e41d8c1c-773d-11e5-9030-b8e80eef2cf6.png">

<img width="84" alt="preview 2" src="https://cloud.githubusercontent.com/assets/105127/10618464/1644003

[2015-10-21 01:31] developit opened #47 "Form controls in a toolbar/draggable are draggable and cannot be focussed"
`-webkit-app-region: drag;` descends and can't be overridden via JS events

[2015-10-21 06:35] ngoldman opened #49 "menu.js error (missing: .js-context-menu)"
I'm noticing `dist/template-app/menu.js` is trying to attach a click event to `.js-context-menu` but there's no element in `dist/template-app/index.html` that matches that. I looked around in each of the releases and wasn't able to find it there either.

[code]

Really cool project btw. Looks fantastic.

[2015-10-21 08:25] ngoldman opened #50 "dropdown icon broken when css unminified"
unminified:

![screen shot 2015-10-21 at 1 06 36 am](https://cloud.githubusercontent.com/assets/427322/10631383/8359eeb6-7792-11e5-90dd-d940dc2babef.png)

minified:

![screen shot 2015-10-21 at 1 06 56 am](https://cloud.githubusercontent.com/assets/427322/10631384/83f9dc14-7792-11e5-88fe-d378823d3ec4.png)

Not sure why this is happening, but it is!

[2015-10-21 13:23] paranoid-android commented on #41
Cool! Thanks for the feedback.

[2015-10-21 13:23] #41 closed

[2015-10-21 13:27] paranoid-android opened #51 "Disabled State"
Hello,

In Photon, buttons have an `active` class available to them. It would be valuable if a `disabled` class was also available. An example of a disabled button can be seen in the Finder in OS X.

1. Open the Finder.
2. Click "Documents"
3. In the toolbar, you'll probably notice that the "Edit Tags" and "Share the selected items" buttons are disabled until you select one or more files.

[2015-10-21 15:01] sbruchmann commented on #51
FWIW, an attribute selector would fit here as well/better.

[2015-10-21 15:13] developit commented on #49
I believe it's supposed to be referring to something similar to this:
https://github.com/connors/photon/blob/master/docs/demo-app.html#L51-L53

... but that doesn't appear to have been included in the template-app example.

[2015-10-21 15:17] developit commented on #51
@sbruchmann Agreed!

[2015-10-21 15:17] goodseller opened #52 "Feature requests: Table scroll"
Does anyone know how to make it works?

I have tried a few times but currently things turns like this:

![](https://gyazo.com/b9a4e0eb2f57f0d134e59397a8833fdf)

But I am hoping something like this:

http://jsfiddle.net/TweNm/

Thanks.

[2015-10-21 18:09] goodseller opened #53 "[Feature requests] In-button Icon"
This feature sees in bootstrap or jquery ui (the style):

[![https://gyazo.com/1309644b527e99169301e27485c757ee](https://i.gyazo.com/1309644b527e99169301e27485c757ee.png)](https://gyazo.com/1309644b527e99169301e27485c757ee)

I did the above prototype by adding (changing?) these lines:

[code]

Toolbar:

[code]

(Currently, this is a quick prototype.)

[2015-10-21 20:03] ngoldman commented on #49
I think it's an incomplete adaptation of https://github.com/atom/electron/blob/master/docs/api/menu.md.

[code]

One way around the error produced by the current implementation in this repo would be to modify it like this:

[code]

That way there will be no error if the node list is empty. I'm using this workaround in https://github.com/ngoldman/proton without any issues so far.

[2015-10-22 15:13] developit commented on #53
Good addition.  Just a tip: you can add the `icon-text` class to the icon so it sits nicely alongside the button's label.

[code]

[2015-10-22 15:42] developit commented on #52
It's not possible via CSS without breaking the table's automatic column widths.

Here's the closest I could get, but it requires a width:
http://jsfiddle.net/developit/sdvuu1nx/

[2015-10-22 15:49] developit opened #54 "More accurate input focus ring"
I'd like to suggest a more accurate (at least in terms of OS X) input focus outline/border including the nice little animation Apple added in Yosemite.

### Preview:
![preview](https://i.gyazo.com/dc25acb5ddfdc19ab1c99a6e1799e83d.gif)

### JSFiddle Demo:
http://jsfiddle.net/developit/2xpnn03s/

### SCSS:

[code]

... thoughts?

[2015-10-22 19:12] janbiasi opened #55 "Input, Button etc. cursor-type"
If i hover a button, input, textarea or something else, the cursor remains default. If not already added: Please add the <code>cursor: pointer</code> to those relevant elements! :smile_cat: **Thanks!!**

[2015-10-22 20:51] connors commented on #55
@janbiasi That behavior is intentional as that's how native applications work.

[2015-10-22 20:51] #55 closed

[2015-10-23 04:39] goodseller commented on #52
It looks good with the above hacks.

Seem it needs to apply the width attribute to all <td> element or it will breaks as content changes.

http://jsfiddle.net/66yca1re/

[2015-10-23 12:09] TheJaredWilcurt commented on #28
So, rather than pay for professional software developers, GitHub abuses the open source community to get free work from them. Then refuses to contribute back to the open source community by implementing simple automated systems that benefit everyone, rather than just them directly.

You guys are the devil.

[2015-10-23 12:35] developit commented on #28
Friendly and open competition is actually one of the reasons Open Source is
better then commercial software. I fail to see how Electron benefits only
Github. I don't work for github and I use it every day, both as a platform
and by way of the Atom text editor.

On Fri, Oct 23, 2015, 8:09 AM The Jared Wilcurt <notifications@github.com>
wrote:

--

- Jason

[2015-10-23 23:04] marfarma opened #57 "fyi - website page photon/components broken on safari 8"
The majority of mac users that browse via safari are likely still on safari 8. Doing away with the -webkit- prefix for flex related styles breaks the layout.   You're not alone in this, I've seen several other recently launched sites with the same issue.  Just thought I'd mention it.

It's all the more irritating - especially since, for whatever reason, the recently announced Yosemite Safari 9 upd

[2015-10-24 15:04] gsouf opened #59 "Native window button (Contribution enquiries)"
Didnt find add close, minimize, maximize buttons in the title bar in photon. That's why this issue aims to discuss about.

Their are 2 aspects abouts this:
1. Theme integration (css, styling)
2. action automation (js)

1. Theme integration
---------------------------
Theme integration would allow offer way to create these buttons. E.g (view top right buttons):

![photon_002](https://cloud.githubus

[2015-10-24 23:31] developit commented on #59
Doesn't Electron itself provide these and overlay them onto frameless apps?

[2015-10-24 23:33] developit commented on #57
@marfarma This is probably not something that will get fixed - this CSS library is specifically targetted at Chrome because that's the runtime Electron uses.

I'm not sure what @connors' plans are for potentially expanding beyond providing a toolkit for Electron development.  I would consider using Photon in a browser, but I'd probably do it by bundling the CSS, which would mean it would be run th

[2015-10-25 09:23] gsouf commented on #59
@developit I dont think so, or I didnt find this.

[2015-10-25 10:01] marfarma commented on #57
I wasn't reporting a problem with Photon, but rather it's website.  This page in particular: http://photonkit.com/components/  There's no reason to expect that someone who just want's to find out what Photon is, should use a particular browser.

If you don't want to fix that either - that's fine.  In that case, maybe alert people using Safari < 9 that the site is best viewed in Chrome, Firefox or

[2015-10-25 13:21] RaoOfPhysics opened #60 "CSS: Issues with one-third-width pane"
In `photon.css`, the following doesn't work (takes up 50% of the container instead of 33.3%):

[code]

Unless `flex:none;` is added to it:

[code]

[2015-10-26 07:07] parro-it commented on #59
I think it works only for OSX, using `title-bar-style:hidden`. AFAIK it doesn't work with frameless windows.

[2015-10-26 09:04] goodseller commented on #54
That looks great! :+1:

[2015-10-26 09:33] goodseller commented on #53
Thanks @developit . I don't know there was a icon text before.

To support the right side icon, I make a pull request as follow:

https://github.com/connors/photon/pull/62

[2015-10-27 16:17] goodseller commented on #52
I found another issue:

http://jsfiddle.net/m9jbxn3a/

Seems js is a must to do so.

[2015-10-27 23:36] developit commented on #52
@goodseller / @connors one useful outcome here could be adding support for using the `table` styles on non-table nodes.  This is obviously possibly by passing Photon through a preprocessor, but it could be use to "export" the styles as `.table`, `.table-row`, etc.  Tables can be useful for showing tabular data, but there are just a lot of cases where they stop working even though data is still ver

[2015-10-28 07:29] goodseller commented on #14
:+1:

[2015-10-28 14:26] sbruchmann commented on #14
@developit Mind sending a pull request?

[2015-10-28 15:07] developit commented on #14
@sbruchmann: I did, #33.

[2015-10-28 15:16] sbruchmann commented on #14
Sorry, @developit, I’ve overlooked that reference. Thanks for the work! Now we have to wait for @connors to merge it (at least, the folks who don’t know their way around git :smile:)

[2015-10-29 14:23] paranoid-android opened #64 "Unable to round corners in a table"
Hello,

I have a table defined like this:

[code]

The documentation shows two different `table` layouts:

1. A version that does *not* have rounded corners as shown on the [home page](http://photonkit.com/).
2. A version that has rounded corners as shown in the "Tables" section of the [components page](http://photonkit.com/components/).

The code above displays the version of a  table without rou

[2015-10-29 20:19] goodseller commented on #64
I believe you need this:

http://jsfiddle.net/mzcmyec4/1/

Add the following to your script:
[code]

[code]

[2015-10-29 20:39] goodseller commented on #64
I believe you need this:
http://jsfiddle.net/mzcmyec4/3/

Add the following to your script:
[code]

[code]

[2015-10-30 13:20] paranoid-android commented on #64
@goodseller Thank you so much! The addition of `component` cleared it right up for me.

[2015-10-30 13:20] #64 closed

[2015-10-31 19:04] connors commented on #57
@marfarma Thanks for the heads up! That's an oversight on my part and I'll get it patched up soon.

[2015-10-31 19:05] connors commented on #50
Weird. I'll take a look.

[2015-10-31 19:08] connors commented on #59
I was trying to avoid reimplementing this but it might be unavoidable. Does anyone know for sure if this is completely broken in Windows?

I know in OSX, the "traffic lights" work automatically except when frameless windows are used.

[2015-10-31 19:09] connors commented on #43
:boom: Good point. Just me thinking like a web dev. I'll clean things up.

[2015-10-31 19:49] connors commented on #57
Fixed in 14b3c66. I'll roll this out to the deployed docs soon.

[2015-10-31 19:49] #57 closed

[2015-10-31 20:01] connors commented on #43
`photon.min.css` has been removed from `/dist` in 32a502c. The font files are in there for now since they're still need for the web docs.

I'll remove them from the download zip of photon for now though.

[2015-10-31 20:01] #43 closed

[2015-10-31 20:04] connors commented on #60
:+1: yep just pushed a fix in 38b3606. Thanks!

[2015-10-31 20:04] #60 closed

[2015-10-31 20:05] #47 closed

[2015-10-31 20:09] connors commented on #50
I'm not seeing this. Can you pull `master` and confirm this is still happening for you?

[2015-10-31 20:25] connors commented on #52
@developit Yeah that might be a solution. We might even be able to use `position: sticky` to acheive the desired effect on table headings. I'll look into it.

[2015-10-31 20:32] connors commented on #54
@developit Rad. This is cool but we'll need to add a separate class instead of using the base `.form-control`. Only since `.form-control` is used for more things that text inputs.

[2015-10-31 21:22] developit commented on #52
Sounds promising. I actually ended up rolling with the separate header table solution, but ran into more general issues with tables being unweildly to work with, so I'm probably switching to a static or flexbox layout to get around automatic column widths.

[2015-10-31 21:25] developit commented on #54
Sounds like a plan, because as far as I can tell OS X only seems to use the zoom animation for some fields anyway, so perhaps the best approach is just an optional modified class that can be added to (textual) inputs. If you have a className in mind, I can do a PR.

[2015-11-02 06:09] ngoldman commented on #50
Forked from master, added the `.toolbar-actions` boilerplate html from http://photonkit.com (see https://github.com/ngoldman/photon/commit/2a8c68ab27a1c29686c2f9e4c95eaf6b5bbe3069), ran `npm install` and `npm start`, and here's what I see:

![screen shot 2015-11-01 at 10 00 13 pm](https://cloud.githubusercontent.com/assets/427322/10875192/5e850886-80e4-11e5-9b44-31c60284317c.png)

I'm using node 4

[2015-11-03 16:29] luizbills commented on #54
+1

[2015-11-03 21:08] parro-it commented on #59
I don't know on windows. It does not work for sure in Lubuntu.

[2015-11-03 23:51] gsouf commented on #59
@connors dont know if the term "broken" is the good one, but at least frameless windows are definitively  not the same as the OSX  only```title-bar-style:hidden```.

Maybe that it can be good to implement this for anyone that would like to build a frameless windows with some additional control buttons ?
I means, this is leighweight and functional, should be though, isn't it ?

[2015-11-04 06:38] CharellKing opened #66 "not emit 'maximize' event when click 'maximize' button"
I create a 'browser-window'; it not emit 'maximize' event when I click 'maximize' button; To my surprised, these events('closed', 'minimize' etc) are ok.

this's my test code on max os x:

    var main_window = new BrowserWindow({'accept-first-mouse': true, 'min-width': 500, 'min-height': 200, icon: tray_icon_path, 'title-bar-style': 'hidden', 'fullscreen': 'true'});
    main_window.loadUrl(`file:

[2015-11-07 17:40] seriema commented on #7
Any update on this?

[2015-11-09 16:46] KevinMartin commented on #59
OS X has three types of frameless windows: `frame: false`, `'title-bar-style': 'hidden'`, and `'title-bar-style': 'hidden-inset'`. All show the window without a border, shadow, frames, and title bar. While the first one also hides the traffic lights, the other two show them.

The difference between `hidden` and `hidden-inset` is that `hidden-inset` shows the traffic lights a little bit more inset

[2015-11-11 12:48] dbpolito commented on #37
:+1: for npm support... i know it's easy to use github url, but i think being at npm main repo it would also help the project popularity...

[2015-11-11 12:51] dbpolito commented on #50
i'm also able to reproduce this...

[2015-11-12 10:37] wong2 commented on #37
`photonkit` is a nice name

[2015-11-12 11:33] dbpolito commented on #37
indeed, keep the same name across is good, github, npm, site...

[2015-11-12 12:48] mateusdemboski commented on #37
+1 about keep the same name across and using `photonkit`, now used only on site, is possible registry the package on bower and npm...

[2015-11-12 20:41] paranoid-android opened #69 "Toolbar Layout"
Hello,

I am building an app with Photon (which is awesome!). I'm having problems aligning items in the toolbar. In the toolbar, I'm basically trying to have three "sections". One section above the sidebar, one above the main content/pane and one floating to the right. Currently, I have this setup like the following:

``
<div class="window">
  <header class="toolbar toolbar-header">

    <button c

[2015-11-16 15:00] championswimmer opened #70 "Have a windows (metro) style too ?"
Using photon makes creating GUI a breeze, BUT, it looks really out of place when running such an app on Windows/Linux.

Any plans to support Windows themed UI elements ?

[2015-11-18 09:39] Martinspire commented on #70
+1, OSX-only seems like an odd choice for a desktop-theme

[2015-11-28 10:21] MauriceConrad commented on #3
I'm new to the framework.
I hope it's right if I just write a JS file...
Or is there an existing file for writing new components?

[2015-11-29 23:31] iamdade commented on #50
Same here.

[2015-11-29 23:49] iamdade commented on #70
You can check milestone, it's planned for v1.0.0

[2015-11-29 23:54] iamdade commented on #4
I think traditional JS approach would be better.

[2015-12-04 05:14] bitwombat commented on #70
@championswimmer Are you talking about how Electron's menu is above the Photon header?  That struck me as odd too.  I guess you can do away with Electron's menu altogether (just not create one) and use toolbar-actions.

[2015-12-18 22:28] bradparks commented on #52
any more on this? I think having a sticky table header is a must for real apps!

[2015-12-22 17:55] SakyaStelios commented on #54
+1

[2015-12-25 08:23] javascriptonian opened #74 "loadUrl() is deprecated. Need to update to loadURL()"
Needs to be changed in the app.js file of the template file.

[2015-12-28 16:03] Cedware opened #75 "Medium pane + Medium side bar"
I would love to see a medium wide pane with the possibility to create a medium wide sidebar

[2016-01-02 21:20] MauriceConrad commented on #3
Sorry it's a long time ago, but I've created something.

It's a CSS, JS Component for such a mini PopOver you wanted:

https://github.com/MauriceConrad/Mini-PopOver/

[2016-01-03 15:05] iamdade commented on #3
@connors seems to be inactive for quite a while, hope project is not dead.

[2016-01-04 01:00] MauriceConrad commented on #3
@iamdade Sorry but I don't understand. Is my solution bad or why you think, the project is dead?
https://github.com/MauriceConrad/Mini-PopOver

[2016-01-04 01:42] MauriceConrad opened #76 "Mini Pop-Over"
# Mini-PopOver

Here's a small CSS and JS plugin for a Mini-PopOver like you can see in the Apple-Maps App in OS X.

https://github.com/MauriceConrad/Mini-PopOver

Native version in Apple-Maps:

![Native example in Apple-Maps](http://fs5.directupload.net/images/160104/enl4uqze.png)

And this is the plugin in JS/CSS:

![Plugin version](http://fs5.directupload.net/images/160104/jixsn6wm.png)
Please

[2016-01-04 05:03] iamdade commented on #3
@MauriceConrad I like your solution, it's just there was no changes in this repo since November, that's what worries me.

[2016-01-06 23:42] dublinus commented on #6
Very much looking forward to a neutral Photon. The controls look great, and making the design more cross-platform would be perfect for a project I'm working on.

[2016-01-10 08:50] IonicaBizau opened #78 "Publish on npm?"
Would be handy just to `npm i photon`.
`photon` is already taken, but `photonkit` is available.

For now I just do:

[code]

Any plans to publish it as package on npm registry?

[2016-01-13 13:36] Delapouite commented on #51
Thanks for the PR @iamdade

[2016-01-13 18:27] viliwonka opened #79 "Everything is blank"
![image](https://cloud.githubusercontent.com/assets/4028544/12303607/9b302880-ba2b-11e5-8753-d7d40b7a5332.png)

All 'live preview' windows are blank

[2016-01-14 14:22] viliwonka commented on #79
Guys, this is on your website, by the way.

[2016-01-19 21:07] bradparks opened #80 "Can't edit in form fields (inputs) in Safari or WKWebView"
I just noticed that in Safari or an embedded WKWebView that I can't edit in form fields.

Just load up the sample page in Safari, and try and put data in the inputs in the "forms" sample.

http://photonkit.com/components/

I found this was being stopped by "-webkit-user-select: none;", and switching it to "-webkit-user-select: text;" made it work. I'm actually using this with the React version of

[2016-01-22 14:58] MauriceConrad opened #81 "Context-Menu"
# Native looking context-menu

https://github.com/MauriceConrad/context-menu
(JSFiddle: https://jsfiddle.net/3rvxy92k/)

I've created a native looking context-menu CSS component.
There's no controller, just plain CSS:
![This Context-Menu](http://fs5.directupload.net/images/160121/3v3a8oma.png)

## minimal-example

[code]
## sub-context-menu example

[code]

## How to use it?

It's really simple. A

[2016-01-22 15:42] cinder92 commented on #81
great!

[2016-01-24 14:14] Altiano commented on #78
or maybe with bower

[2016-01-24 19:06] IonicaBizau commented on #78
I'm sure bower would be very useful too.
I was asking for npm because I'm not a bower fan. :smile:

[2016-01-24 20:29] sbruchmann commented on #78
See [#37 (comment)](https://github.com/connors/photon/issues/37#issuecomment-148857370).

[2016-01-25 01:20] Altiano commented on #78
Is photon still in development anyway?

[2016-01-25 08:07] iamdade commented on #78
Good question, @connors wasn't updated on github anything since November, I've tried to reach out to him on twitter without any success.

[2016-01-26 16:19] datiecher commented on #76
That's really nice!

[2016-01-28 08:21] zimt28 commented on #78
According to what he said on Twitter, it's not dead :)

[2016-01-30 05:25] citrusui opened #82 "buttons missing type attribute"
Just thought I'd let you know [components.html](https://github.com/connors/photon/blob/master/docs/components.html) and [demo-app.html](https://github.com/connors/photon/blob/master/docs/demo-app.html) need a few more of `type="button"`.

[2016-01-30 10:15] onlyusesphp commented on #78
That's what he said before about Ratchet, but [it's pretty dead now.](https://github.com/twbs/ratchet/issues/792)

[2016-01-30 12:09] midudev opened #83 "[Feature requests] Adding a loading component"
First of all. Amazing work. Thanks for your effort. :)

I think that would be a good idea to add a loading component. Loading is basic stuff for a lot of apps and it would be nice to get a clean, OSX style, loading icon for photon.

Something like that, but neat and embed on the css.
http://www.cssscript.com/demo/ios-os-x-style-pure-css-loading-spinner/

[2016-01-31 00:29] citrusui commented on #81
Nice! But it doesn't seem to work for mobile.

[2016-01-31 11:13] MauriceConrad commented on #81
@citrusui Sorry but I don't think that Photon was made for mobile hybrid apps. To use a desktop app logic within a mobile app is a really bad idea. And Photon is not designed for such a use case.

Photon tries to clone the native UI of Mac OS X for native looking desktop apps in Atom.
For mobile hybrid apps you can use http://www.idangero.us/framework7/

[2016-01-31 11:21] MauriceConrad commented on #83
Nice work, great.

[2016-01-31 17:24] citrusui commented on #81
Well yeah, Electron doesn't support iOS but since the context menu is all HTML, theoretically it *should* work on mobile.

[2016-01-31 18:10] MauriceConrad commented on #81
@citrusui I think the problem is that on iOS or Android exists nothing similar. It works on mobile except the "sub-context-menus" because of a OS X context menu uses a mouse-over.
If you have a great idea how to convert everything for mobile devices, tell me.

[2016-02-01 08:23] kumarharsh commented on #70
@bitwombat I think what he meant was that the Mac look doesn't look *at home* in Windows or Linux.

[2016-02-14 23:06] connors commented on #79
Not seeing this come up for anyone else. What version of Chrome are you using?

[2016-02-14 23:19] connors commented on #74
Fixed in #77

[2016-02-14 23:19] #74 closed

[2016-02-14 23:47] #80 closed

[2016-02-14 23:50] maddes opened #85 "Header bar missbehaviour"
I can't seem to hide the native title bar on El Capitan (10.11.3).

I'm not sure if you should do something about it, or just leave it to the [electron guys](https://github.com/atom/electron/issues/1876).

Here's a [stackoverflow question](http://stackoverflow.com/questions/35399378/how-can-i-remove-use-the-header-bar-with-photonkit/35399454#35399454) to discuss it just in case a a github bug does

[2016-02-15 00:04] #82 closed

[2016-02-15 00:25] maddes commented on #85
Ups, my problem. I had two initialisation script on the Electron app.

[2016-02-15 00:25] #85 closed

[2016-02-15 11:00] viliwonka commented on #79
Checked now, it works normally now.

[2016-02-15 19:21] scholtzm commented on #78
+1 for npm package with stable versioning.

[2016-02-21 03:56] connors commented on #51
Fixed in 78236888ba306ee81c10b8d873e2d8ab816adce9

[2016-02-21 03:56] #51 closed

[2016-02-21 13:22] bibhas2 commented on #66
This is not related to photonkit. You may want to open an issue with Electron.

In ay case, I gave it a try and it seems to work fine. You should not call  ``main_window.maximize();`` from the event handler. There's no need for it.

[code]

Also, ``console.log`` is printed on the terminal window and not in Chrome developer tool.

[2016-02-21 13:24] bibhas2 opened #89 "Resizable table columns"
I will like to see the table columns be resizable.

[2016-02-21 13:38] bibhas2 opened #90 "Error in menu.js"
When I use the ``/template-app/index.html`` from the Electron's ``electron-quick-start`` app, I get this error upon startup:

[code]

The relevant portion in ``js/menu.js`` should be modified to this:

[code]

Now the context menu opens fine.

Please let me know if you will like me to do a PR. Thanks.

[2016-02-21 15:34] bibhas2 opened #91 "Need the panes to be resizable"
We need the panes to be resizable using some kind a splitter. I tried using [jQuery Splitter](https://github.com/jcubic/jquery.splitter) without much luck.

[2016-02-21 15:35] bibhas2 opened #92 "Need vertical pane stacking"
Right now it appears that the panes can be stacked horizontally in columns. We need vertical stacking as well.

[2016-02-21 15:37] bibhas2 commented on #81
Context menu is already possible using native Electron menu. Please see issue #90.

[2016-02-21 17:28] connors commented on #90
Is there a reason not to use Photon's provided quick start app from `app.js`? I feel like there will always be _some_ conflicts there.

[2016-02-21 20:39] bibhas2 commented on #90
Hi, not sure about what you mean by "Photon's provided quick start app". I am using the ``template-app`` that comes with the Photon distribution. The ``menu.js`` file there has this defect.

[2016-02-22 22:42] rahatarmanahmed opened #93 "pane-sm and pane-mini have no borders"
Example jsfiddle: https://jsfiddle.net/wj1c9qht/

Ran into this trying to make a right aligned sidebar. If you use the `pane` class, it properly sets a border-left, but `pane-sm` and `pane-mini` don't seem to do that.

[2016-02-23 07:09] connors commented on #70
Dupe of #7

[2016-02-23 07:09] #70 closed

[2016-02-23 07:10] connors commented on #75
We already provide one-fourth and one-forth panes that should cover this.

[2016-02-23 07:10] #75 closed

[2016-02-24 09:54] roryok opened #94 "Typos in template"
Note the use of "Proton" instead of "Photon"

`{
  "name": "proton-template-app",
  "version": "1.0.0",
  "description": "A simple template app for Proton",
  "main": "app.js",
  "author": "Connor Sears",
  "scripts": {
    "start": "electron ."
  }
}`

[2016-02-26 19:17] AlhasanIQ commented on #90
same here , in `menu.js` line 24 .
looked for the `.js-context-menu` manually and couldn't find it

[2016-02-29 11:21] patricksun2011 commented on #91
@connors @bibhas2 Would something like this work? This would allow pane resizing, deeply nested panes/pane-groups, and vertical pane-groups (thus solving #92 as well). Wrote it in pure JavaScript so no jQuery needed. Let me know and I'll create a PR.

![resize](https://cloud.githubusercontent.com/assets/10807627/13392691/4e16b878-df17-11e5-82a1-ab007ca6ccc3.gif)

[2016-02-29 14:46] bibhas2 commented on #91
That looks very good and will meet the needs. A few points:

- The cursor needs to change when the mouse moves over the splitter.
- The splitter seems too thin to me. I do realize that in Mac OS X a splitter is also very thin. Hopefully the thickness can be easily customized.
- Hopefully the HTML markup for this will be as minimalistic and easy to use as the rest of the Photonkit components.

Plea

[2016-03-01 19:15] ngoldman commented on #90
I believe this issue is a duplicate of #49

[2016-03-02 11:50] patricksun2011 commented on #91
Thanks for the feedback - I'll definitely take your thoughts into consideration. The HTML markup itself will be pretty much the same with the exception of vertical pane groups and won't break anything you've already built :)

[2016-03-04 14:13] bibhas2 opened #96 "Usability issue with tabs"
Hi,

Users including myself are reporting constant confusion with the tabs. They can't tell which tab is currently selected by looking at the colors.

![image](https://cloud.githubusercontent.com/assets/1730356/13529167/a8605cd4-e1e8-11e5-88cd-15e5cb0a5a3a.png)

That problem doesn't seem to exist for regular Mac OSX apps. The inactive tabs are clearly recessed back.

![image](https://cloud.githubu

[2016-03-06 04:10] westin commented on #6
@connors have you put any thought into your desired "neutral" aesthetic? I would love to implement this— figured I'd ask if you had anything in mind/inspirations before I go ahead and start!

[2016-03-11 04:03] dublinus commented on #6
@westin Are you going to fork this repo? I can work on it as well, let me know.

[2016-03-14 19:22] Mazout commented on #7
Any update on this?

[2016-03-22 20:48] frankhale commented on #37
+1 on Bower package

[2016-03-22 20:49] frankhale commented on #78
+1 for NPM package

[2016-03-24 03:52] ndugger opened #97 "Update Entypo in Photon"
The photon icon set is missing some "newer" icons that have been added in [Entypo](http://www.entypo.com/).

The latest additions seem to have been "Recently added — 5/3, 2015", so I see no reason as to why Photon shouldn't have them.

I'd really appreciate it, as I could really use that mouse-pointer icon...

Thanks!

[2016-03-28 07:32] Huxpro opened #98 "Too many global styles!"
I dont know is it a bug or feature request. But I have to said there is tooooo many global styles applied to basic html elements which really makes UI broken unexpectedly.

[2016-03-31 07:43] thiakil commented on #98
Can you give an example of how/where you're using tables that you don't want to have the default styles?

[2016-04-08 03:24] Brunux opened #100 ".btn-dropdown showing ASCII characters instead of entypo icon-font"
The .`btn-dropdown` is showing ASCII characters instead of entypo icon-font char at the /css/photon.css file lines 448:

`.btn-dropdown:after {
  font-family: "photon-entypo";
  margin-left: 5px;
  content: ""; `

Quick fix:

`.btn-dropdown:after {
  font-family: "photon-entypo";
  margin-left: 5px;
  content: '\e873'; /* ""; */
}`

[2016-04-08 03:30] Brunux commented on #100
Looks like it has been fixed in the last commit, so i guess photon-0.1.2-dist.zip need to be updated.

[2016-04-08 03:30] #100 closed

[2016-04-15 22:47] MauriceConrad opened #101 "Slider Component for PhotonKit"
# Native looking Sliders

Here's a slider component for PhotonKit.
![Render Result](http://fs5.directupload.net/images/160415/lnjam3ix.png)
![Render Result](http://fs5.directupload.net/images/160415/bh425bxm.png)

## JSFiddle
https://jsfiddle.net/a9gdrr62/

## Documentation
https://github.com/MauriceConrad/osx-sliders

## Presentation
http://dev.amina-koyim.de/osx-slider/

If you want, use it for

[2016-04-27 05:34] marcus13345 opened #102 "web components?"
porting over to web components would be relatively simple, and completely optional for the end user to use. is this in the plans?

[2016-04-27 12:38] benschwarz commented on #102
I'd say no @marcus13345. You're asking for a complete project departure.

[2016-04-28 09:06] marcus13345 commented on #102
@benschwarz im not sure what you mean, all the items that photon provides could be wrapped with web components very easily and provide a new simpler way of implementing the components. as well, it would be fully backwards compatible, as you wouldn't even need to import the components. it would be an extension on what is already there. To clarify exactly what i mean, i've found a project on github

[2016-05-02 03:06] wkoszek commented on #90
@connors I'm seeing the same issue. Tried latest `electron` (pre-built binary).

[2016-05-15 17:42] ZacGarby1 opened #103 "Toolbar header not draggable"
When you make a toolbar-header div, it's not draggable. It needs the -webkit-app-region: drag property in its CSS

[2016-05-17 12:19] patryk1303 commented on #103
There is helper class `.draggable` which you can use.

[2016-05-25 21:13] badillosoft commented on #103
Here's an example:

[code]

[2016-05-26 03:21] xiaokaike commented on #98
Too many global styles!
i don't want  the actrve style in my table
[code]

[2016-05-30 21:25] galactictourist opened #106 "btn-dropdown subm menu items HOW?"
What is the code for sub items for the dropdown menu button?

[2016-05-31 10:00] rathoregee opened #107 "bg-primary class does not work on a bootstrap table"
Hi Buddy,
I see you are a bootstrap champion.
i have a table.  <table  class="table table-hover table-striped compact" />
plus i am using datatables.net.
in body tr when i use class **info** it works
but  **bg-primary** does not work.

any idea??

Bundle of thanks in advance :)

Cheers,

Kam

[2016-06-01 05:22] #66 closed

[2016-06-04 15:03] inklesspen opened #108 "Create examples for forms?"
I'm not sure how the form widgets are meant to be positioned and styled. Can you create an example that shows them looking good? I couldn't figure it out.

[2016-06-12 19:57] scholtzm opened #109 "List - rendering issues"
![render-issue](https://cloud.githubusercontent.com/assets/2640934/15993485/466c2b26-30e8-11e6-8781-3e5a623b65b6.png)

Chrome (and therefore Electron) on the left, Firefox on the right. Right side shows how it used to look like in Chrome as well.

Not sure if this is a Chrome issue, because this behaviour was not there couple versions back.

[2016-06-13 01:46] gadget00 opened #110 "syntax not updated for Electron 1.0?"
Hi; I believe this project is extremely helpful to lower the bar to start working on Electron.  For that, thank you!

However, I just downloaded the pack and I am getting multiple errors of js when running the demo app, _because of inconsistencies against the 'new' electron syntax_.  I managed to read the official electron documentation to at least fix the browserWindow error and it kinda loads, b

[2016-06-13 01:49] xiaokaike commented on #109
@scholtzm  which system you use?

[2016-06-13 06:04] scholtzm commented on #109
Those screenshots were done on Windows, but happens on OSX as well, especially visible if you use `::-webkit-scrollbar`:

[Before (OSX)](https://cloud.githubusercontent.com/assets/2640934/12659057/fc11ad1c-c60c-11e5-841b-8d34e729b8e4.png) / [Now (OSX)](https://cloud.githubusercontent.com/assets/2640934/15998275/3bde0184-313d-11e6-9d0e-e5daa2fd2fad.png)

[2016-06-18 11:48] yaruson commented on #106
I'm also interested in dropdown menu button items, but I can't find any related references in CSS source.

[2016-06-18 12:34] polgarijog opened #111 "Starting template application - "Error: Cannot find module 'app'""
1. Downloaded "dist" zip
2. Unzipped
3. Opened terminal, cd to the folder "template-app"
4. Run "electron ."
5. Got an error: "Error: Cannot find module 'app'"

I've debuged in vs.code too, the first require("app") throws that exception.

Electron-prebuild is installed via npm/nvm.

What I'm doing wrong?

[2016-06-18 14:22] scholtzm commented on #111
Seems like you are using Electron v1.x and template app uses older version of Electron APIs.

[2016-06-18 19:46] polgarijog commented on #111
Thank you.

[2016-06-18 21:10] polgarijog commented on #111
Ah, one more question: do you have any idea how to fix/workaround it?

[2016-06-19 00:36] gadget00 commented on #111
So far, you have to re-write the code of Photon so it complies with the new syntax of Electron 1.x

[2016-06-19 05:26] gadget00 opened #112 "Components are only based on MacOS UI? What about Windows?"
Just asking: do all the components are stylized to look like MacOS components only, or is there a class that you can use for 'Windows' UI look and feel?

[2016-06-19 08:16] scholtzm commented on #111
You could also use older version of Electron, but I would advise against that.

[2016-06-19 08:18] scholtzm commented on #112
Currently MacOS only.

See #7.

[2016-06-19 19:15] polgarijog commented on #111
Oh, sad...thank you all!

[2016-06-20 11:49] zephyrzoom commented on #111
It also happend to me!

[2016-06-20 11:53] zephyrzoom commented on #112
What about Linux? Can I use it on Linux?

[2016-06-21 05:18] gadget00 commented on #112
You can use it in any platform, including Linux.  But apparently because of the CSS compiled in it, all the apps will look like a macOS app

[2016-06-21 07:38] zephyrzoom commented on #112
@gadget00 Thank you.

[2016-06-23 03:24] DarrylD commented on #106
Was a source supposed to be provided?

[2016-06-30 19:57] arjunmenon commented on #111
Spent more than an hour to finding out the cause. Was actually frustrating.
This seems like a common issue. Can the author put up a guide on re-writing the Photon to work with newer stable versions?

[2016-07-22 12:51] zephyrzoom opened #115 "How to make the table row multiple lines instead of horizenal scroll"
If the row is too long. The scroll comes out. It is not what I want. How to make it multiple lines.

[2016-07-24 10:53] ecerroni commented on #115
ß
Sent from Mobile2ãez
On Jul 22, 2016 2:52 PM, "707" <notifications@github.com> wrote:

[2016-07-28 22:13] moollaza commented on #7
FWIW, this may be a good starting point? http://metroui.org.ua/

[2016-07-30 15:49] eschmid72 opened #118 "Create a separate repository for css framework?"
I really recommend to create an own repository for the (s)css resources + fonts, and make it installable via npm and bower.

As it is now, you have to update the files manually, if there is a newer version.

[2016-07-31 23:03] joelwallis commented on #118
Hi, @eschmid72.

I agree with you. However, to bypass this issue I'm using the [Git address syntax for `package.json` dependencies](https://docs.npmjs.com/how-npm-works/packages#what-is-a-package):

[code]

Check the npm docs for more info about it.

[2016-07-31 23:04] joelwallis commented on #118
This specific SHA points to the `v0.1.2` commit

[2016-07-31 23:05] joelwallis commented on #118
@connors do you have plans to publish Photon on npm?

[2016-08-01 05:29] Aerlinger opened #119 "Workable tab component?"
I was looking for a way to get tabs to actually work and came across this, though it was posted almost a year ago: https://github.com/connors/photon/issues/4.

Would be great to see this implemented. Has anyone found a workable solution, preferably using a JS implementation? If not, happy to contribute if I find something that works.

[2016-08-01 15:29] samuelyeshua commented on #119
Something like that?
[Chrome-tabs](https://github.com/adamschwartz/chrome-tabs)

[2016-08-08 04:33] jashsayani opened #120 "template app should include dependencies in package.json"
The template app should include dependencies in package.json, so `npm install` can install them.

[2016-08-14 12:31] andig opened #122 "Error: Cannot find module 'remote'"
I'm using app.js and have added dev tools. In the console I'm getting `Error: Cannot find module 'remote'` in module.js 440. I have not changed the repo structure.

Any idea what might be the problem with finding `remote`?

[2016-08-14 12:42] andig commented on #122
It might be that with current versions of electron it should read something like this:

    var remote = require('electron').remote;
    var Menu = remote.Menu;
    var MenuItem = remote.MenuItem;

[2016-08-14 16:48] samuelyeshua commented on #122
But because you are making use of "remote" in the main process when it is made to be used in the application renderer side?

I'm not saying this is the problem, but try calling directly without using "remote"

[2016-08-16 14:00] mcdonaghc opened #123 "Electron-packager"
Hi,

I've had trouble using electron-packager module with Photon's setup.

[2016-08-16 14:13] samuelyeshua commented on #123
What problems?

Describe in detail the maximum you can

[2016-08-18 13:03] mcdonaghc commented on #123
It was more an issue with my setup I think.
Thanks,
mcdonaghc

[2016-08-18 13:03] #123 closed

[2016-08-21 22:30] sercheo87 commented on #111
The error is solvent with replace the next section in file app.js

`var app = require('app');  // Module to control application life.
var BrowserWindow = require('browser-window');  // Module to create native browser window.`

with

`const {app, BrowserWindow} = require('electron');`

[2016-08-21 22:42] jashsayani opened #124 "Add support for vibrancy"
Add support for vibrancy - this might need changes to Electron as it would have to get background information about content behind the window and pass the data to the web app, that can then render a blurred version of the content as the background.

More information: https://developer.apple.com/library/mac/documentation/Foundation/Reference/NSVisualEffectView_Class/

[2016-08-22 14:24] samuelyeshua commented on #111
#117 This was solved in this pull request

[2016-09-02 05:47] tedstriker commented on #103
thanks for the hint - maybe you can add it to the example?

[2016-09-20 18:21] afshing commented on #106
Is it any example how to feed the dropdown items to the dropdown? It looks like there is no documentation on this, and this issue is open for a long time!

[2016-09-27 16:00] furyscript opened #127 "Is this style for mac only?"
I see your official site page and I see your styles looks like mac os.

I would know if windows/linux users have same style or it change based on OS.

Thanks.

[2016-09-27 17:17] holywyvern commented on #127
It looks exacly the same across al desktop and mobile versions.
It's just css styles than looks like Mac OS.

[2016-10-06 11:43] yuyat commented on #106
+1

[2016-10-06 15:48] DarrylD commented on #106
I think it's here https://github.com/connors/photon/blob/master/dist/template-app/js/menu.js

[2016-10-07 09:35] yuyat commented on #106
DarryID, that is context menu.

[2016-10-09 13:46] pedzed commented on #127
Yes, this is a Mac-style only. But you can write your own CSS styles on top of it to write Linux/Windows specific styles.

Please, close this issue if your question is answered.

[2016-10-09 13:50] pedzed commented on #37
To @sbruchmann and @gligoran: what is your problem? You can provide a `bower.json` along with a published `package.json`. I am not sure why you are actively downvoting people wanting Bower support.

[2016-10-09 18:39] sbruchmann commented on #37
@pedzed I wasn’t voting against `bower` but against the _+1-statement_ of @frankhale since GitHub now supports reactions to comments.

[2016-10-09 19:14] gligoran commented on #37
@pedzed Wasn't actually downvoting people for wanting bower support, but the manner in which @a3bhea commented. This is supposed to be a place where people work together, so no need to be condescending.

[2016-10-09 19:23] pedzed commented on #37
@sbruchmann I agree, people should not spam with +1's. But it's like slapping a child for doing something wrong: the child does not know what it did wrong, you have to tell him. On the other hand, I understand that you don't want to add _another_ comment just to say that.

@gligoran I apologize if that's the case. The reason I mentioned you was because you downvoted two or three other comments tal

[2016-10-11 15:54] #127 closed

[2016-10-30 18:41] Mido22 opened #128 "how about adding fonts to 'dist' folder"
the css can already be found there, doubt that fonts are going to change much that duplicating them 1would become an issue. Just a suggestion, believe it would play well with ´npm install connors/photon´

[2016-11-15 07:59] scherii commented on #124
Changes have been made. 😄

https://github.com/electron/electron/pull/7898

[2016-12-01 21:22] MauriceConrad opened #130 "Some external components"
There are a few photon components, mostly javascript controllers but also new ones.

The complete project:
https://github.com/MauriceConrad/Photon-Components

Native Button:
https://jsfiddle.net/cw7335h9/

Dialog:
https://jsfiddle.net/o0hqvppu/

Segmented control with JS controller (that also works for every bin group):
https://jsfiddle.net/wc2h5cp4/

Range sliders with all options:
https://jsfidd

[2016-12-05 13:27] mrsimonemms opened #132 "Can you include the SASS files in the npm dist?"
Similar to #128, could the SASS files be included in the npm package? I pull all my dependencies down using npm and I'm compiling the CSS myself.

[2016-12-15 15:50] jdavidbakr commented on #110
I've replaced the top part of main.js to be:

[code]
(which I found from another Electron tutorial) and am not getting any errors, however I am getting two header bars.

Would love to see this package updated for Electron 1.0, I'm hoping it's not been abandoned.

[2016-12-15 16:28] scholtzm commented on #110
Photon is "just a stylesheet". You can use it with latest version of Electron without any issues. The template app is outdated, but it only serves as an example (a non-working one in this case).

[2017-01-09 00:31] jashsayani commented on #124
Nice! Since Electron has support for vibrancy now, CSS tweaks can be made to Photon now to ensure the UI looks good with vibrancy enabled.

[2017-01-12 20:13] sebbekarlsson opened #133 "[Suggestion] Dark theme?"
I would love to have a dark theme for this!
Someone who wants to work on it or could I do it?

[2017-01-14 09:36] liaotianr opened #134 "photon.js is identified as virus by Avira AV"
After running npm install & npm start my AV deleted photon.js as it was identified as
http://www.avira.com/de/support-threats-summary-product?tid=7397&threat=HTML%252FExpKit.Gen3&track=1

[2017-02-01 20:13] a9udn9u opened #135 "Is this project deprecated?"
The last meaningful code commit was almost a year ago, doesn't seem it's still being actively developed.

[2017-02-10 14:14] behrtam commented on #135
Maybe we should create a fork as something like `photon` is needed in the electron world.

[2017-02-12 00:11] jarek-foksa opened #136 "Cocoa licensing and copyright"
Just wondering, what is Apple's stance on web projects recreating the look and feel of Cocoa widgets?

I was thinking about starting a similar project using Custom Elements and Shadow DOM. However, I was unable to get any information from Apple regarding the restrictions that apply to third-party implementations of their widgets.

It's highly unlikely they would ever allow apps with Cocoa UI to be

[2017-02-20 19:42] MauriceConrad opened #137 "Update: PhotonKit Components"
Dear PhotonKit Community,

A big amount of PhotonKit controllers and new components are available under:

https://github.com/MauriceConrad/PhotonKit-Components

I already published an issue about the project but since this time, a lot of things had changed and there is still a new GitHub Repository.

Some Examples (Best case is a Blink Browser)

Default Buttons:
https://jsfiddle.net/1jmro304/

Seg

[2017-03-25 12:05] vasyl-shumskyi commented on #137
Nice!

[2017-04-07 20:49] jarek-foksa commented on #135
Check out the [Xel project](https://github.com/jarek-foksa/xel) which has very similar goals.

[2017-04-10 18:20] zephyrzoom commented on #133
I also need this.

[2017-04-20 00:10] mikezila commented on #135
I looked into Xel, and it's cool for sure, but it doesn't really compare to the ease of photon.  To make something that looks as decent as even the generic photon starting point from the docs you have a <x-box> waterfall and still need manual styling to make buttons their correct sizes and distances from siblings.

Just trying to recreate a simple media player I made in photon required a massive n

[2017-05-09 08:51] vasyl-shumskyi commented on #91
Really nice! Unfortunately wasn't able to make this work

![screen shot 2017-05-09 at 11 47 32](https://cloud.githubusercontent.com/assets/2331802/25842736/af998fac-34ad-11e7-8dc1-d11ccdb1ce1e.png)

[2017-05-09 09:03] ElyaConrad commented on #91
Look at https://github.com/MauriceConrad/PhotonKit-Components

There is a solution that changes the cursor and still works out of the box without initializing

[2017-05-15 18:28] meletisf commented on #137
This is awesome. Why it's not integrated yet?

[2017-05-26 02:01] natchiketa commented on #7
Metro UI has been supplanted by the [Fluent Design System](https://developer.microsoft.com/en-us/windows/apps/design). Insofar as 1:1 translation of components is concerned, there is great, comprehensive documentation for it, as well as toolkits for [Adobe XD](http://download.microsoft.com/download/1/3/C/13CE5C92-024E-40C8-A867-83D891CC4D39/Adobe%20XD%20design%20toolkit%20for%20UWP%20apps%20v1705.

[2017-06-25 10:54] morriswinkler-simple commented on #137
you really should add this stuff here

[2017-06-25 11:45] morriswinkler-simple commented on #135
@connors what's your stand to this rumors. Any updates to come?

[2017-07-10 17:25] Esauromano opened #138 "It won't run"
npm start trows

Uncaught Exception:
SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:404:25)
    at Object.Module._extensions..js (module.js:432:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:313:12)
    at loadApplicationPackage (/Users/arete/Documents/photon/node_modules/electron-prebuilt/dist/Elec

[2017-07-11 12:09] holywyvern commented on #138
Check pull request #125

[2017-07-11 12:30] janstieler commented on #118
Hi,
I would also prefer if I could install it as NPM module.

Cheers

[2017-07-12 17:10] holywyvern commented on #118
Guys, please, use `npm i -s connors/photon`... Or fork it and publish it yourself I guess...
This project is kinda dead

[2017-07-30 23:45] EmadAdly commented on #55
you can override by add
[code]
or add it on custom attribute instead of *

[2017-08-02 10:55] ElyaConrad commented on #137
@morriswinkler-simplesurance  I really **would** add my stuff but @connors doesn't answers and my components work a little bit different. At the moment there is no possibility

[2017-08-02 11:08] morriswinkler-simple commented on #137
👍

[2017-08-20 14:06] Merovex commented on #112
I was hoping for a platform-neutral framework as well. :(

[2017-08-21 11:33] IonicaBizau commented on #135
@connors Any update on this?

[2017-08-23 15:18] NemoStein commented on #135
He seems to be pretty active in private repos here on Github... =/

[2017-08-29 07:28] adharna commented on #133
Same here

[2017-09-07 11:51] prog20901 opened #140 "Ignore"

[2017-09-13 03:44] #140 closed, assigned to nobody

[2017-09-21 07:06] lacymorrow opened #141 "kq_init error on demo start"
Output:
[code]

[2017-09-22 09:34] anditakaesar commented on #141
This is perhaps a syntax error
[code]
But this project is long remain unupdated.

[2017-09-23 03:23] lacymorrow commented on #141
Thanks for the heads up @anditakaesar, i'll take another look. Cheers ++

[2017-09-23 03:23] #141 closed, assigned to nobody

[2017-10-06 16:30] stevanmilic commented on #138
I had the same problem, first three lines of dist/template-app/app.js should be changed to:

[code]

[2017-10-24 05:01] DanielRuf commented on #136
I guess you wanted to ask this in the Electron issue tracker, not Photon.

[2017-10-24 05:02] DanielRuf commented on #135
Well, that's not great. Generally I recommend moving such big projects to an own org.

[2017-10-24 05:09] jarek-foksa commented on #136
Electron is not recreating Cocoa widgets, it just provides a JS API to interact with the native implementation (menubar, dock, tabs, window).

[2017-10-24 05:16] DanielRuf commented on #136
I see many UI libraries for Electron which recreate this style and are still actively developed.

[2017-10-28 10:12] ElyaConrad commented on #135
@DanielRuf Yes you are correct but @connors , the owner of this repository, does not provide any kind of possibility to add stuff to this project for me. A @NemoStein  already said, it is still pretty active in my personal Repo that extends PhotonKit to a lot of components: https://github.com/MauriceConrad/PhotonKit-Components

But of course this is not the best case. The best case would be a comp

[2017-10-31 22:28] willkriski commented on #90
Same here over a year later, it's referencing .js-context-menu nowhere to be found in quick start app :)

[2017-10-31 22:44] ungoldman commented on #90
@willkriski I think this project is no longer being maintained. Use at your own risk 😢

[2017-11-29 06:38] chiragpagaria commented on #103
I want to work on this is anyone working on it or i can start @connors

[2017-12-31 15:02] ddresch opened #142 "Project dead?"
Started using this framework but now I realized the last official contribution was one year ago. Any feedback about the current status of the project?

This work is awesome https://github.com/MauriceConrad/PhotonKit-Components and would be a real benefit for this project.

@connors can you please invite other developers to help out, if you don't find the time?

[2017-12-31 15:23] ElyaConrad commented on #142
Dear @ddresch,

I absolutely agree with you and therefore I'm currently working on a complete new version of the framework that looks more like "one solution". The problem with my repo is, that it is just a "components" folder. Practicable but nor very smart to use.

Because @connors does not give any possibility to contribute, I have to to do this way because currently I#m the only active develop

[2018-01-01 11:08] Managementteamphoton commented on #142
it is alive now becasue we brought it alive. It was a deadcoin and we brought ausoome people together and now we have a great community.
It is a matter of time before we finish our roadmap, whitepaper, wallet etc
The future will be bright...Thank you for this OPEN SOURCHE project cinnamon. We will always tell ,you are the creator of this beautiful coin.
I heard you have a lot of clones of photon.

[2018-01-02 11:50] Managementteamphoton commented on #142
Sorry the last comment was not suppost to be here.it is a photon coin cummunity

[2018-01-02 11:51] Managementteamphoton commented on #142
Supposed

[2018-01-25 16:01] alassaneDiop commented on #142
Dear @MauriceConrad, excuse my english
I just discover Photon which is very useful for me.
I'm creating an electron software and for me it's more easy to use it than bootstrap for example or another framework.
I'm waiting impatiently for the new version ;)

[2018-01-25 17:04] ElyaConrad commented on #142
@allasaneDiop

Thank you. I am more less finished with code in general except documentation.

I will do my best and kind regards,
Maurice Conrad

[2018-02-02 08:19] sikenali opened #143 "How to compile and install under Linux"

[2018-02-19 22:03] ElyaConrad commented on #137
# Photon 1.0 RELEASE

## Dear Photon User!

I am very proud to announce the release of Photon version 1.0! You are a follower of Photon and maybe you already know my extension framework „PhotonKit Components“ that extends the original Photon project on a high level. Sadly the original developer @connors was not abled to accept my contributions or answer me at least one time because he seems to be

[2018-02-19 22:03] ElyaConrad commented on #142
# Photon 1.0 RELEASE

## Dear Photon User!

I am very proud to announce the release of Photon version 1.0! You are a follower of Photon and maybe you already know my extension framework „PhotonKit Components“ that extends the original Photon project on a high level. Sadly the original developer @connors was not abled to accept my contributions or answer me at least one time because he seems to be

[2018-02-19 22:04] ElyaConrad commented on #135
# Photon 1.0 RELEASE

## Dear Photon User!

I am very proud to announce the release of Photon version 1.0! You are a follower of Photon and maybe you already know my extension framework „PhotonKit Components“ that extends the original Photon project on a high level. Sadly the original developer @connors was not abled to accept my contributions or answer me at least one time because he seems to be

[2018-02-19 22:04] ElyaConrad opened #144 "NEW RELEASE 1.0"
# Photon 1.0 RELEASE

## Dear Photon User!

I am very proud to announce the release of Photon version 1.0! You are a follower of Photon and maybe you already know my extension framework „PhotonKit Components“ that extends the original Photon project on a high level. Sadly the original developer @connors was not abled to accept my contributions or answer me at least one time because he seems to be

[2018-02-19 22:10] DanielRuf commented on #135
At least I see activity in the last days.

Any, great work. Will check it when I find the time.

[2018-02-19 22:14] ElyaConrad commented on #135
If this is the case, I would be very happy to work together with @coonors and merge together what we have.

But at the moment the last commit within the original Photon repository was on 24 Feb 2017 . And this was just a docs commitment..

But as I said: If @coonors would do something , I will be very happy ;-)

[2018-02-24 16:12] zulfahmi commented on #144
Great release, Maurice.
I will try it with my real application.
Meanwhile, thank you very much.

[2018-03-09 06:54] #143 closed, assigned to nobody

[2018-03-21 23:05] mrdotkg commented on #144
glad to see more components. thank you.

[2018-03-30 07:48] debbbbie commented on #144
@MauriceConrad Great Job! Thanks a lot.

[2018-04-10 05:21] Suremotoo opened #146 "It's wrong"
position: js/menu.js
[code]

TypeError: Cannot read property 'addEventListener' of null

[2018-04-12 02:33] mrdotkg commented on #146
Could you please explain what is the issue and steps to reproduce?

[2018-04-12 03:05] Suremotoo commented on #146
My steps:
1、git clone repo
2、cd repo && npm intsall
3、start

The project is working, but browser console show error
[code]
i fixed, .js-context-menu  it not found, remove it ,it's ok!

[2018-04-12 03:05] #146 closed, assigned to nobody

[2018-04-12 08:20] TheKnarf commented on #144
This looks great. However @MauriceConrad I do believe it might be better to take on a new name for the project! Your version seems to go so much farther ahead that there's no need to be tied back to this dead project. I would also love to see your library get its own webpage, and then choosing a name with an accompanying domain would be great ;)

[2018-04-24 12:49] lgh06 commented on #144
Nice job! I'll try.

[2018-10-30 08:40] ssjoon opened #150 "Can I Use Webviews with photon"
Hi..
webview does not show it's content

[code]
thank you

[2018-11-16 00:20] alassaneDiop commented on #150
I tried to do it but not succeed. I think with webview you will use the css of webview

[2018-11-18 08:30] tolawho commented on #144
Thank you!!!!!!!!!!!!

[2018-11-18 10:40] alassaneDiop commented on #144
great job, thank you

[2018-11-20 21:09] mikerogne commented on #106
Replying 2 years later... 😎

In case anybody else finds this via Google, etc: That link above actually is relevant. It's outdated, but relevant.

https://electronjs.org/docs/api/menu#examples

[2018-12-19 14:09] scillidan opened #151 "How do I turn off the tone of the download completed?"
I downloaded several image folders that were not compressed into zip, and then it needs to ring for about 1000 times. So how do I turn off the sound?

[2018-12-25 20:12] andersjj opened #152 "Is there a way to disable row highlight on table row click?"
When having a table row with td's that have checkboxes, input boxes, etc. it would be nice to be able to not have the blue highlight on click that seems to come standard.  Is there an easy way to disable this on specific tables?

[2019-03-05 16:54] randydom opened #153 "Any update"
Hello , is there any updated version ?

[2019-03-11 06:36] paskwal commented on #153
Hi,
Unfortunately it seems not but there is a fork here: https://github.com/MauriceConrad/Photon

[2019-03-31 10:18] moeenio opened #154 "Update docs download links"
To use latest version's link

[2019-04-25 13:25] saurabhkanswal commented on #133
any update?

[2019-04-25 13:27] sebbekarlsson commented on #133
Well I have not done anything about it

[2019-04-30 14:30] saurabhkanswal commented on #133
ok then I love to work on it

[2019-08-05 21:59] cetorres commented on #150
You can add a webview inside a pane.

[code]
It works for me.

[2019-12-13 19:54] RhinoDale opened #155 "install fails"
github.com/twbs/grunt-sed.git is 404. attached is npm log
[2019-12-13T19_44_26_031Z-debug.log](https://github.com/connors/photon/files/3962473/2019-12-13T19_44_26_031Z-debug.log)

[2019-12-15 20:55] lukesUbuntu commented on #155
Package is no longer available , i would go and install https://github.com/MauriceConrad/Photon or clone down and install locally `package.json` just replace the dev dependency  https://github.com/connors/photon/blob/ba7b496f5d69ff486cdcf446bbfce3838bd6a4d0/package.json#L40 may work not sure but https://www.npmjs.com/package/grunt-sed

[2019-12-16 17:54] RhinoDale commented on #155
Thanks. I will use Conrads repository.

------------------------------
Dale Bratcher,
Senior System Administrator and Lead Software Engineer for
K-Kel Inc, DBA Spearmint Rhino Adult Cabaret, Las Vegas
Vegas Party Linq, LLC
3340 S HIGHLAND DR
LAS VEGAS NV 89109-3427
dale@spearmintrhinolv.com
Direct: 702-797-0494

On Sun, Dec 15, 2019 at 12:55 PM Luke Hardiman <notifications@github.com>
wrote:

[2020-02-27 20:00] gromovadarya90 opened #156 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-09-19 08:52] zerotrzy opened #158 "no fount module app"
[code]

if I change to require('electron').app it still not working

yarn ok
yarn start have this trouble.

[2020-10-04 14:06] longmaba commented on #158
`const { app, BrowserWindow } = require("electron");`

Use this instead

[2020-10-05 15:37] alexchandel commented on #142
Close, see #142

[2020-10-05 15:37] alexchandel commented on #153
Close, see #142

[2020-10-05 15:38] alexchandel commented on #154
Close this, repo is dead, see #142

[2020-10-05 15:38] alexchandel commented on #158
Please close this issue, repo is dead, see #142

[2020-10-05 15:39] alexchandel commented on #155
Please close this issue, repo is dead, see #142

[2020-10-05 16:14] moeenio commented on #154
Good point

[2020-10-05 16:14] #154 closed, assigned to nobody

[2020-10-07 07:51] #153 closed, assigned to nobody

[2021-04-16 06:05] feavilan04 opened #162 "Error on template app"
We are having an error when running the template app. On menu.js in line 2 console raises the following error "Uncaught TypeError: Cannot destructure property 'Menu' of 'remote' as it is undefined."

[2021-08-31 10:59] 1211454975 commented on #162
Do you resolve it?

[2021-12-05 18:38] #83 closed

[2021-12-17 17:14] 0xtrzy commented on #162
npm start

App threw an error during load
Error: Cannot find module 'app'
Require stack:
- /electron/photon-0.1.2-dist/template-app/app.js
- /electron/node_modules/electron/dist/resources/default_app.asar/main.js
-
    at Module._resolveFilename (node:internal/modules/cjs/loader:940:15)
    at Function.n._resolveFilename (node:electron/js2c/browser_init:249:1128)
    at Module._load (node:internal

[2021-12-17 17:14] 0xtrzy commented on #162
still trouble

[2021-12-24 14:48] zaynekomichi opened #163 "Documentation not sufficient"

[2021-12-24 14:50] zaynekomichi commented on #163
What will allow for faster development is better documentation, this ui utility is really great only lacks documentation